@model DoAnHomeFinder.Models.BaiDang

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa bài đăng</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin bài đăng</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.tieu_de, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.tieu_de, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tieu_de, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dia_chi, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dia_chi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dia_chi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dien_tich, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dien_tich, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dien_tich, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.gia, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group" style="display:none;">
                    @Html.LabelFor(model => model.id_bai_dang, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.id_bai_dang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.id_bai_dang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" >
                    @Html.LabelFor(model => model.id_loai_bai_dang, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.id_loai_bai_dang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.id_loai_bai_dang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display:none;">
                    @Html.LabelFor(model => model.id_nguoi_dung, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.id_nguoi_dung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.id_nguoi_dung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.mo_ta, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.mo_ta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mo_ta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sdt, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.thoi_gian, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.thoi_gian, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.thoi_gian, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.bep_nau, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.bep_nau)
                            @Html.ValidationMessageFor(model => model.bep_nau, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.giu_xe, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.giu_xe)
                            @Html.ValidationMessageFor(model => model.giu_xe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nha_ve_sinh, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.nha_ve_sinh)
                            @Html.ValidationMessageFor(model => model.nha_ve_sinh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dieu_hoa, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.dieu_hoa)
                            @Html.ValidationMessageFor(model => model.dieu_hoa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.may_giat, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.may_giat)
                            @Html.ValidationMessageFor(model => model.may_giat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.tu_do, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.tu_do)
                            @Html.ValidationMessageFor(model => model.tu_do, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.tu_lanh, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.tu_lanh)
                            @Html.ValidationMessageFor(model => model.tu_lanh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.wifi, htmlAttributes: new { @class = " col-md-4" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.wifi)
                            @Html.ValidationMessageFor(model => model.wifi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-info" })
                <input type="submit" value="Lưu thông tin" class="btn btn-default" />
            </div>
        </div>
        <div id="hidendiv" style="display: none;">
            <div class="form-group">
                @Html.LabelFor(model => model.trang_thai_bai_dang, htmlAttributes: new { @class = " col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.trang_thai_bai_dang)
                        @Html.ValidationMessageFor(model => model.trang_thai_bai_dang, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.trang_thai_duyet, htmlAttributes: new { @class = " col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.trang_thai_duyet)
                        @Html.ValidationMessageFor(model => model.trang_thai_duyet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
